<style type="text/css">
	.section
	{
		  /* border-bottom: 1px solid darkcyan; */
  width: 107.5%;
  position: relative;
  padding-top: 0rem;
  padding-bottom: 0rem;
  left: -4%;
	}
</style>
<ul class="collection">
	<li class="collection-item avatar" style="height:100%">
		<i class="mdi-image-tag-faces blue circle big"></i>
      		<span class="title">{{details['projectName']}}</span>
      			<p>
      				<br>		
      				<b>Details:</b>{{details['details']}}</br>
         			<b>Address:</b>{{details['address']}}<Br>
      			</p>	
  			<button class="btn waves-effect waves-light" ng-click="donate(details['_id'])" type="submit" name="action" style="position:relative; top:-35px; float:right;">Donate
    			<i class="mdi-content-send right"></i>
  			</button>
			<div class="section">
				<a href="https://www.facebook.com/sharer/sharer.php?u=localhost" target="_blank"><img src="img/facebook.jpg" width="20" height="20" title="Share on fb"></img></a>
				<a href="https://twitter.com/home?status=Hello%20angelhacks" target="_blank"><img src="img/twitter.png" width="20" height="20" title="Share on twitter"></img></a>
				<a href="https://plus.google.com/share?url=localhost" target="_blank"><img src="img/google.png" width="20" height="20" title="Share on G+"></img></a>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url=localhost&title=I%20have%20donated!&summary=Summary%20here!&source=" target="_blank"><img src="img/linkeding.png" width="20" height="20" title="Share on linkedIN"></img></a>
			</div>
	</li>
</ul>
<ul class="collection">
	<form class="col s6" ng-click="loadComments()" ng-hide="hide">
		<div class="row">
			<input class="btn waves-effect waves-light" type="submit" name="action" value="Load Comments" style="float:right;">
		</div>
	</form>
    <li class="collection-item avatar" ng-repeat="data in comm|orderBy:'-time'">
      <i class="mdi-file-folder circle"></i>
      <span class="title">{{data.creator}}</span>
      <p>{{data.commentData}} <br>
         {{data.date}}
      </p>
      <a href="#!" class="secondary-content">{{data.commentSentiment}}</a>
    </li>
 </ul>
<div class="row">
    <form class="col s12" ng-submit="leave()">
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-editor-mode-edit prefix"></i>
          <textarea id="comment" ng-model="comment" class="materialize-textarea"></textarea>
          <label for="comment">Leave Your Comment Here</label>
        </div>
      </div>
      <div class="row ">
            <input class="btn waves-effect waves-light" type="submit" name="action" value="Add It!" style="float:right;">
        </input>
      </div>
    </form>
  </div>